<form #addForm="ngForm" (ngSubmit)="onSubmit(addForm)" novalidate>
    <table> 
        <tr>
            <td>
                <label for="name">Insurance Name</label>
            </td>
            <td><input type="text" name="name" [(ngModel)]="homeinsurance.name"></td>
        </tr>
        <tr>
            <td>
                <label for="sumAssured">SumAssured</label>
            </td>
            <td><input type="text" name="sumAssured" #sumAssured="ngModel" [(ngModel)]="homeinsurance.sumAssured"></td>
        </tr>
         <!-- <tr>
        <td>
            <label for="coverage">type</label>
        </td>
        <td>
            <select name="coverage" [(ngModel)]="homeinsurance.coverage">
                <option [ngValue]="coverage" *ngFor="let coverage of coverages">
                    {{coverage}}
                </option>
            </select>
        </td>
    </tr>  -->

    <tr>
        <td>
            <label for="term">term</label>
        </td>
        <td><input type="text" name="term" #term="ngModel" [(ngModel)]="homeinsurance.term"></td>
    </tr> 
    <tr>
        <td>
            <label for="premium">premium</label>
        </td>
        <td><input type="text" name="premium" #premium="ngModel" [(ngModel)]="homeinsurance.premium"></td>
    </tr> 
    <!-- <tr>
        <td>
            <label for="risk">risk</label>
        </td>
        <td><input type="radio" name="risk" #risk="ngModel" [(ngModel)]="investment.risk" value="High">High
            <input type="radio" name="risk" #risk="ngModel" [(ngModel)]="investment.risk" value="Low">Low</td>
    </tr>
    <tr>
        <td>
            <label for="nominee">nominee</label>
        </td>
        <td><input type="text" name="nominee" #nominee="ngModel" [(ngModel)]="investment.nominee"></td>
    </tr>
    <tr>
        <td>
            <label for="term">term</label>
        </td>
        <td><input type="text" name="term" #term="ngModel" [(ngModel)]="investment.term"></td>
    </tr>
    <tr>
        <td><input type="submit" value="Add Investment" [disabled]="!addForm.valid"></td>
    </tr> -->
     <!-- <div formGroupName="vendor">
        <div>
           <label for="id">VendorId</label>
           <input type="text" name="id" formControlName="id">
        </div>
        <div>
           <label for="name">Name</label>
           <input type="text" name="name" formControlName="name">
        </div>
        </div> -->
        <div>
            <td><input type="submit" value="Add Investment" [disabled]="!addForm.valid"></td>
        </div> 
 </table></form>
